/*#################
About Page Additions
###################*/

/*#################
Dotted Border General Styling
###################*/

.dotted-border {
  border-bottom: 1px dotted black;
}

/*#################
About Section
###################*/

.about {
  padding: 25px 25px;
}

/*#################
Virtues Section
###################*/

.virtues-section {
  display: flex;
  flex-wrap: wrap;
}

.virtues-section img {
  width: 100%;
}

.virtues-section div {
  width: 350px;
  margin: 25px 25px;
}

.virtues-section h2 {
  margin: 5px 0;
}

.virtues-section button {
  background: white;
  border: 1.5px solid black;
  padding: 7.5px 12.5px;
  margin: 10px 0;
  border-radius: 5px;
}

/*#################
Bottom Section
###################*/

.bottom-section {
  padding: 15px;
  margin-left: 9px;
}
