/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}
header{
    width: 100%;
}

header nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 0 2%;
}
.links a{
    font-size: 1.3rem;
    width: 50%;
}
.pic{
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    width: 800px;
    margin: 0 auto;
}
.about-info{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;

}
h1{
    font-size: 2rem;
    width: 50%;
    padding-left: 3%;
}

.about-info p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.more{
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.more h2{
    padding: 1%;
    font-size: 1.5rem;
}
.more p{
    padding: 1%;
}
.strategy{
    padding:3%;
    max-width: fit-content;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed black;
}

.how{
    padding:3%;
    max-width: fit-content;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed black;
}
.places{
    padding: 3%;
    max-width: fit-content;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed black;
}
.collab{
    padding: 3%;
    max-width: fit-content;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed black;
}

.lwt{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}
.lwt h2{
    font-size: 1.5rem;
    width: 75%;
    padding-left: 6%;
}
.lwt p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 4%;
}
footer{
    width: 100%;
    background-color: black;
    display: flex;

}
footer nav{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 2%;
}
footer nav a {
    color: white;
    text-decoration: none;
}
