/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS reset above this line*/

/* General Page Settings*/

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
  padding-top: 1%;
  padding-bottom: 1%;
}

p {
  line-height: 1.4;
  font-family: "Rubik", sans-serif;
}

a {
  font-family: "Rubik", sans-serif;
}

/* top nav bar with lambda logo on left side */
.top-nav {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

header nav {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
}

.logo-container {
  width: 25%;
  margin-top: 1%;
}

.top-nav img {
  width: 90%;
  padding-bottom: 10%;
}

header nav a {
  color: black;
  text-decoration: none;
}

/*Picture across top of page*/

.jumbo-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.jumbo-container img {
  width: 100%;
  margin-bottom: 1%;
}

/* about section */
.about-section {
  width: 75%;
  margin: 0 auto;
  border-bottom: 1px dashed black;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2%;
}

.about-section p {
  padding-bottom: 2%;
}

/* middle section */
.middle {
  margin-bottom: 2%;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.middle img {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 35vh;
  margin-top: 5%;
}

.middle button {
  margin-top: 2%;
}

.middle img {
  padding-bottom: 2%;
}

.strat {
  width: 45%;
  border-bottom: 1px dashed black;
}

.work {
  width: 45%;
  border-bottom: 1px dashed black;
}

/* bottom section */

.bottom {
  margin-bottom: 2%;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.bottom img {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 35vh;
  margin-top: 10%;
}

.bottom button {
  margin-top: 2%;
}

.places {
  width: 45%;
  border-bottom: 1px dashed black;
}

.collab {
  width: 45%;
  border-bottom: 1px dashed black;
}

/* Together Section*/

.together-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 75%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.together p {
  align-content: center;
}

/* Footer Section */
footer {
  width: 80%;
  background: black;
  margin: 0 auto;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 20px 2%;
  font-size: 14px;
}

footer nav a {
  color: white;
  text-decoration: none;
}

/* Button Section */
button {
  font-family: "Roboto", sans-serif;
  padding: 2% 7%;
  border-radius: 10px;
  border: 2px solid black;
  background-color: white;
  margin-bottom: 5%;
}
