
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body nav{
    display:flex;
    justify-content:center;
    background-color: white;
    overflow: hidden;
    margin: 0 0 25px 0;
}
nav img{
    margin: 10px;
    padding: 10px;
}
nav a{
    float: left;
  color: black;
  margin: 0 40px; /*margin still need tinkering after I figure out how to add the logo*/
  padding: 14px 1px;
  text-decoration: none;
  font-size: 17px;
}
.firstpair, .secondpair{
    display: flex;
    flex-direction: row;
    width:auto;
    margin: 0 24% 0 24%;

}
 .pww .strategy{
    padding-right:1em;
}
.lets, .imgandabout{
    margin: 0 24% 0 24%;
}
footer{
    display:flex;
    justify-content:center;
    background-color: white;
    overflow: hidden;
    margin: 0 0 25px 0;
    
}











/* .adjusting{
    padding-top: 30px;
}
.jumbo{
   margin-left: 4px;
}
.first2box{
    display: flex;
    flex-direction: row;
}
.secondboxes{
    display: flex;
    flex-direction row;
} */