
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body nav{
    display:flex;
    justify-content:center;
    background-color: white;
    overflow: hidden;
    margin: 0 0 25px 0;
}
nav img{
    /* margin: 5px; */
    padding: 10px;
}
.adjusting a{
    float: left;
  color: black;
  padding-top: 40px;
  /* margin: 0 40px;
  padding-top: 5%;
  padding: 14px 1px; */
  text-decoration: none;
  font-size: 17px;
}
.firstpair, .secondpair{
    display: flex;
    flex-direction: row;
    width:auto;
    margin: 0 24% 0 24%;

}
 .pww .strategy{
    padding-right:1em;
}
.lets, .imgandabout{
    margin: 0 24% 0 24%;
}
.about, .strategy, .hww, .pww, .collab{
    margin: 2% 0;
    padding-bottom: 2%;
    border-bottom: 1px dashed black;
}
.hww, .collab{
    margin-left:1%;
}
h2{
    margin-top:.25%;
    margin-right:.25%;
    margin-bottom:1%;
    font-weight: bold;
}
p{
    padding-bottom:2%;
}
button{
    background: white;
    border-radius: 10px;
    padding:3%;
    margin-top:.25%;
    margin-right:.25%;
    margin-bottom:1%;
}
footer {
    display:flex;
    justify-content:flex-start;
    background-color: black;
    padding: 10px 0;
    margin-left:23%;
    width:auto;
    
}
.nav a{
    margin: 20px;
    color:white;
    
}   
nav a:hover, .nav a:hover{
    color:grey;
}











/* .adjusting{
    padding-top: 30px;
}
.jumbo{
   margin-left: 4px;
}
.first2box{
    display: flex;
    flex-direction: row;
}
.secondboxes{
    display: flex;
    flex-direction row;
} */