/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
    font-size: 62,5%;
}
body {
	line-height: 1;
    font-size: 1,8rem;
    color: white;
}



* {
    box-sizing: border-box;
    padding: 0%;
    max-width: 100%;
    border: 1px,solid;
    display: flexbox;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
header {
    width: 100%;
    background: white;
    color: black;
    align-items: left;
    padding: 10%;
}
header nav {  
    width: 80%;
    display: flex;
    justify-content:space-between;
    font-size: 20px;
    margin-left: 30%;
}
.logo {
    width: 20%;
    margin-left: 70%;
}
header nav a {
    color: black;
    text-decoration: none;
    background-color:white;
    text-align: center;
}
h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    color: black;
    text-align: left;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
    color: black;
    text-align: left;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes .box {
    display: flex;
    flex-direction: wrap;
    border: solid;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 20%;
    height: 20px;
    box-sizing: border-box;
    background: black;
    margin: 20px 2.5%;
    color: white;
    padding: 4%;
}


.bottom-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0 2% 20px;
    justify-content: space-evenly;
   }

.bottom-content .text-container {
    padding-right: 4%;
    text-align: left;
    color: black;
}
.bottom-content .text-container:last-child {
padding-top: 0px;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
    background-color:black;
}