/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/* ------------- START HERE ------------- */

.header-section {
    display: flex;
    flex-flow: column wrap;
    align-self: center;
}

.header {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    width: 800px;
    align-self: center;
    justify-content: space-between;
}

.lambda-logo {
    height: 45px;
}

.header-nav {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    width: 75%;
    justify-content: space-between;
    margin: 0 auto;
    align-content: center;
    padding: 2em;
}

.header-nav a {
    text-decoration: none;

    color: black;
}

.header-banner {
    padding: 1.5em 0em;
}

.about-header-banner {
    align-self: center;

}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
/* 
ABOUT PAGE CSS STARTS HERE */

.about-section {
    display: flex;
    flex-flow: column wrap;
    border-bottom: dotted black 1px;
    height: 7em;
    padding: 10px;
    margin-bottom: 10px;
}

.about-section h2 {
    align-self: flex-start;
}

.learn-more-button {
    background-color: white;
    width: 100px;
    border-radius: 7px;
    height: 30px;
    border: solid black 2px;
    margin-bottom: 10px;
}

.container .strategy-how-page {
    display: flex;
    flex-flow: row wrap;
}

.strategy-section {
    display: flex;
    flex-flow: column wrap;
    width: 45%;
    border-bottom: dotted black 1px;
    padding: 5px;
    margin: 15px;
}

.how-section {
    display: flex;
    flex-flow: column wrap;
    width: 45%;
    border-bottom: dotted black 1px;
    padding: 5px;
    margin: 15px;
}

.container .places-colab-page {
    display: flex;
    flex-flow: row wrap;
}

.places-section {
    display: flex;
    flex-flow: column wrap;
    width: 45%;
    border-bottom: dotted black 1px;
    padding: 5px;
    margin: 15px;
}

.colab-section {
    display: flex;
    flex-flow: column wrap;
    width: 45%;
    border-bottom: dotted black 1px;
    padding: 5px;
    margin: 15px;
}

.together-section {
    padding: 10px;
    margin: 10px;   
}

.section-image {
    margin-bottom: 10px;
}