/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

html{
    font-size:62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height:1.5;
    font-size:1.6rem;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-size: 2.5rem;
    margin-bottom: 2%;
    font-family: 'Rubik', sans-serif;
}
section, footer{
    padding:4% 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}

/* Header Section Styles */
.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0;
}
nav {
    display: flex;
    width: 100%;
}

.bitLogo {
    width: 60%;
    margin-left:40%;
    padding-right: 20%;
}

nav a {
    text-decoration: none;
    font-size: 2rem;
    padding-right: 30px;
    color: black;
}

#links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 2%;
    gap: 15%;
    margin-right: 30%;
}
.aboutImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Top Section Styles*/

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2%;
    border-bottom: 2px solid #ff4b00;
    text-align: justify;
    margin-left: 20%;
    width: 70%;
    font-size: 1rem;
}

.top-content .text-container {
    width: 35%;
    padding: 0 1%;
    padding-bottom: 4%;  
}

.text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 1%;
    margin: 0 7%;
    font-size: 2rem;
}

/*Middle Section Styles*/
.middle-content {
    margin-top: -5%;
    margin-left: 10%;
    width: 80%;
}

.middle-content h2 {
    margin-bottom: 0;
    margin-left: 11%;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    flex-flow: row wrap;
}

.middle-content .boxes .box {
    background: black;
    margin: 4% 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

/* Boxes Styles Section */
.boxOne {
    background-color: teal;
    padding: 5% 5%;
    margin: 1%;
    color: white;
    font-size:  1.5em;
} 

.boxTwo {
    background-color: gold;
    padding: 5% 5%;
    margin: 1%;
    color: white;
    font-size:  1.5em;
}

.boxThree {
    background-color: cadetblue;
    padding: 5% 5%;
    margin: 1%;
    color: white;
    font-size:  1.5em;
}

.boxFour {
    background-color: coral;
    padding: 5% 5%;
    margin: 1%;
    color: white;
    font-size:  1.5em;
}

.boxFive {
    background-color: crimson;
    padding: 5% 5%;
    margin: 1%;
    color: white;
    font-size:  1.5em;
}

.boxSix {
    background-color: forestgreen;
    padding: 5% 5%;
    margin: 1%;
    color: white;
    font-size:  1.5em;
}

.boxSeven {
    background-color: darkorchid;
    padding: 5% 5%;
    margin: 1%;
    color: white;
    font-size:  1.5em;
}

.boxEight {
    background-color: hotpink;
    padding: 5% 5%;
    margin: 1%;
    color: white;
    font-size:  1.5em;
}

.boxNine {
    background-color: indigo;
    padding: 5% 5%;
    margin: 1%;
    color: white;
    font-size:  1.5em;
}

.boxTen {
    background-color: dodgerblue;
    padding: 5% 4.5%;
    margin: 1%;
    color: white;
    font-size:  1.5em;
}

.middle-heading {
    margin-left: 5%;
}

.boxes {
    margin-left: 10%;
    padding: 4% 0;
}
/* Horizontal Line Style */

hr {
    border: 1px solid #ff4b00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4%;

}

/* bottom Section Styles */
.bottom-content, .text-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bottomHeader {
    padding-bottom: 10%;
}



/*Footer Styles*/
footer {
    width: 100%;
    background-color: #ff4b00;
    display: flex;
}

footer a {
    color: white;
    font-size: 1.8rem;
}

#footerNav {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

.footerLink {
    padding-right: 70%;
}
/*About Page Styles*/

.aboutImg {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.aboutSection {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 23.5%;
    padding-bottom: 2%;
    width: 55%;
}

.aboutLine {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: -3% 0% 1% 23%;
}

.strategy {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 23.5%;
    width: 28%;
    padding-bottom: 5%;
}

.stratLine {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: -2% 0% 1% 23%;
} 

.work {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 25%;
    margin: -27.5% 0% 1% 53%;
}



.workLine {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 3% 0% 0% 53%;
}

.office {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: -4% 23.5% 0% 23.5%;
    width: 28%;
    padding-bottom: 5%;
}

.officeLine {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: -2% 0% 1% 23%;
}

.meeting {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 28%;
    margin: -27.5% 0% 1% 53%;
}

.meetingLine {
    width: 26%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 3% 0% 0% 52%;
}

.together {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: -4%;
    margin-left: 23.5%;
    padding-bottom: 1%;
    width: 57%;
    font-size: 2rem;
}

.footerNav {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    gap: 10%;
    margin-left: 3%;
}
/*Responsive Styles*/

@media(max-width:500px) {
    header nav {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    header nav a {
        font-size: 1.5rem;
    }
    
    .bitLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        padding: 10% 0;
        margin-left: 20%;
    }

    #links {
        width: 20%;
        margin-right: 90%;
    }

    .aboutImg {
        margin: 0;
        padding: auto;
    }
    .container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-left: 4%;
        width: 80%;
        row-gap: 40%;
    }
    .text-container p {
        font-size: 1.5rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-content: center;
    }

    .top-content{
        display: flex;
        flex-flow:row wrap;
        padding: 2% 0;
    }
    .bottom-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-left:  4%;
    }
    
    .bottomHeader {
        margin-left:  30%;
        margin-bottom: -5%;
    }
    hr {
        width: 90%;
    }

    footer nav a{
        font-size: 1.8rem;
        width: 80%;
        margin-left:  42%;
        padding: 1%
    }
    .footerNav {
        margin: 0;
        padding: 0;
    }

    .footerLink {
        margin: 0;
        padding: 4%;
    }
}