/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height:1.5;
    font-size:1.6rem;
}

h1, h2, h3, h4, h5 {
    font-size: 2.5rem;
    margin-bottom: 2%;
    font-family: 'Rubik', sans-serif;
}
section, footer{
    padding:4% 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}

/*nav styles*/
header {
    margin: 0 10%;
}

.logoImg {
    box-sizing: border-box;
    height: 2.5rem;
}
/* check widths in these areas */
.navBar {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;

}

nav {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    display: flex;
    margin: 5%;
}
.roadImg img {
    width: 100%;
}


/*Top Section Styles*/

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 4%;
    border-bottom: 2px solid #ff4b00;
    text-align: justify;
    
}

.top-content .text-container {
    width: 90%;
    padding: 0 1%;
    padding-bottom: 4%;  
    display: flex;
    flex-direction: column;
   
}
/*Middle Section Styles*/
.middle-content {
    margin-bottom: 4%;
    border-bottom: 2px solid #ff4b00;
}

.middle-content h2 {
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
    width: 70%;
}

.middle-content .boxes .box {
    background: black;
    margin: 4% 2%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
   
}

.box {
    height: 150px;
    width: 150px;
}

#box1 {
    background-color:teal;
}

#box2 {
    background-color: gold;
}

#box3 {
    background-color: cadetblue;
}

#box4 {
    background-color: coral;
}

#box5 {
    background-color:crimson;
}

#box6 {
    background-color: forestgreen;
}

#box7 {
    background-color: darkorchid;
}

#box8 {
    background-color: hotpink;
}

#box9 {
    background-color: indigo;
}

#box0 {
    background-color: dodgerblue;
}

/*Bottom Section Styles*/
.bottom-content {
    display: flex;
    justify-content: space-between;
}

.bottom-content .text-container {
    width:25%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

/*Footer Styles*/
footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #ff4b00;
}

/*About Page Styles*/

.top-content .text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Responsive Styles*/
@media(max-width: 500px){
    .navStack {
        display: flex;
        flex-direction: column;
    }
    img {
        max-width: 100%;
    }
    .top-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .top-content .text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .middle-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .middle-content .text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bottom-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .bottom-content .text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   
    .middle-content {
       margin-left: 15%;
            
    }
}