/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .box .box__div {
    width: 12.5%;
    height: 100px;
    background: ;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/*BOXES*/
.box__div--teal {
    background-color: teal;
}

.box__div--gold {
    background-color: gold;
}

.box__div--cadetblue {
    background-color: cadetblue;
}

.box__div--coral {
    background-color: coral;
}

.box__div--crimson {
    background-color: crimson;
}

.box__div--forestgreen {
    background-color: forestgreen;
}

.box__div--darkorchid {
    background-color: darkorchid;
}

.box__div--hotpink {
    background-color: hotpink;
}

.box__div--indigo {
    background-color: indigo;
}

.box__div--dodgerblue {
    background-color: dodgerblue;
}



.banner {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    
    margin: 2rem 0.5rem;
    justify-content: center;
}

.nav__ul {
    display: flex;
    align-items: center;
    
}

.nav__li {
    margin: 0 2rem;
}

.nav__img {
    margin-right: 5rem;
    margin-bottom: 1rem;
}

.nav__a {
    text-decoration: none;
}


.learn_more {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 9rem;
    padding: .5rem;
    border-radius: 1rem;
}

.info {
    display: flex;
    flex-wrap: wrap;
    width: 75rem;
}

.info__p {
    width: 26.5rem;
    
    
}

.info__div {
border-bottom: 1px dashed black;
   margin: 2rem 0;
   padding: 1rem 0;
}

a {
    text-decoration: none;
}


/*temp*/
