/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    border: 1px solid grey;
}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

p, a {
    font-size: 3rem;
}

/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/home-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 4, 17, .8);
    color: rgb(225, 239, 230);
}
h1{
    display: flex;
    justify-content: center;
    color: rgb(225, 239, 230);
}
nav{
    display: flex;
    flex-direction: column;
}
/* .navlinks{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
} */
.navlinks{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
/* .solciallinks{
    display: flex;
    flex-direction: column;
} */
nav a{
    color: rgb(225, 239, 230);
}
nav a:hover{
    color: lightskyblue;
}
i{
    font-size: 3.5rem;
}
.sociallinks{
    width: 25%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

/* spacers
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
} */

/* gallery section */
.gallery {
    /* width: 70%; */
    /* height: 90vh; */
    text-align: center;
    background-color: rgb(0, 4, 17);
    color: rgb(225, 239, 230);
    /* display: flex; */
    /* flex-direction: column; */
}
.galleryimg{
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

/* about us section */
.about {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: url("../img/staff-cooks.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: rgb(225, 239, 230);
}

.about-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 4, 17, .8);
}

.about h2 {
    width: 100%;
}

.about-container .text {
    width: 50%;
}

/* contact us section */
.contact {
    text-align: center;
    background-image: url("../img/jumbo-restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 4, 17);
    color: rgb(225, 239, 230);
}

.contact-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 17, .8);
}

.contact h2 {
    padding-top: 5vh;
}

.contact h3 {
    padding-top: 2.5vh;
}

.contact p {
    padding: .5vh 0;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.address {
    width: 25%;
}

.hours {
    width: 25%;
    padding-bottom: 2.5vh;
}

.contacts {
    width: 25%;
}

.contacts a{
    color: rgb(225, 239, 230);
}


/* footer section */
footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(0, 4, 17);
    color: rgb(225, 239, 230);
}
.maillist{
    width: 35%;
    text-align: center;
}
input{
    padding: 10px 10px;
    width: 70%;
}
button{
    padding: 10px 20px;
}
.navrow{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 0 100px;
}
.copyright p{
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* mobile media query */
@media (max-width: 428px) {
    /* header section */
    

    /* gallery section */
    .gallery {
        height: auto;
    }
    
    /* about us section */

    .about {
        height: 200vh;
    }
    
    .about h2 {
        width: 100%;
        padding-top: 5vh;
    }
    
    .about-container .text {
        width: 85%;
    }
    
    /* contact us section */
    .contact h3 {
        padding-top: 2.5vh;
    }
    
    .info {
        flex-wrap: wrap;
    }
    
    .address {
        width: 100%;
        padding-bottom: 2.5vh;
    }
    
    .hours {
        width: 100%;
    }
    .contacts {
        width: 100%;
        padding-bottom: 2.5vh;
    }
}
