/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126 License: none (public domain)*/
/*#region*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*#endregion*/

/* GENERAL STYLES */
/*#region*/
* {
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/*#endregion*/

/* HEADER STYLES */
/*#region*/

header {
    width: 800px;
    margin: 1% auto;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: stretch;
}

.navbar a {
    text-decoration: none;
    width: 20%;
    font-size: .9rem;
}

.header-top {
    display: flex;
    align-items: baseline;
    
    justify-content: space-around;
    margin: 0 0 5% 0;
    
}
.header-top img {
    margin: 0 8% 0 0;
}

.header-img {
      margin: 2% auto;
}
/*#endregion*/

/* TOP CONTENT STYLES */
/*#region*/
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

/*#endregion*/

/* MIDDLE CONTENT STYLES */
/*#region*/

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BOX COLORS */

.middle-content .boxes .box:nth-child(1) {
    background: teal;
  }

  .middle-content .boxes .box:nth-child(2) {
    background: gold;
  }

  .middle-content .boxes .box:nth-child(3) {
    background: cadetblue;
  }

  .middle-content .boxes .box:nth-child(4) {
    background: coral;
  }

  .middle-content .boxes .box:nth-child(5) {
    background: crimson;
  }

  .middle-content .boxes .box:nth-child(6) {
    background: forestgreen;
  }

  .middle-content .boxes .box:nth-child(7) {
    background: darkorchid;
  }

  .middle-content .boxes .box:nth-child(8) {
    background: hotpink;
  }

  .middle-content .boxes .box:nth-child(9) {
    background: indigo;
  }

  .middle-content .boxes .box:nth-child(10) {
    background: dodgerblue;
  }

/*#endregion*/

/* BOTTOM CONTENT STYLES */
/*#region*/
.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

/*#endregion*/

/* FOOTER STYLES */
/*#region*/
footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/*#endregion*/

/* ABOUT PAGE STYLES */
/*#region*/

.container about-page {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 3%;
    /* justify-content: space-evenly; */
}

.about-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 3%;
}

.about-top {
    width: 100%;
    justify-content: center;
    padding: 2% 3%;
    border-bottom: 1px dashed black;
    /* align-items: center; */
}

.about-box {
    width: 50%;
    border-bottom: 1px dashed black;
    padding: 3% 2%;
    margin: 4% 0;
    
}

.about-box img {

}

.about-box h2 {
    margin: 3% 0;
}

.about-box p {
    margin: 6% 0;
}
.about-box a {
    
    border: 2px solid black;
    border-radius: 10px;
    margin:5% 0;
    padding:1.5% 5%;
    text-decoration: none;
    color: black;
    font-size: 1rem;;
}
/*#endregion*/