/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}


h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

header {
    display: block;
}

header section {
    height: 60px;
    margin-bottom: 40px;  
}

header section img {
    margin-top: 20px;
}

nav {
    display: flex;
    position: center;
    flex-direction: row;
    align-content: space-between;
    width: 78%;
    align-items: baseline;

}

header section nav a {
    text-decoration: none;
    margin-right: 45px;
    margin-left: 45px;
    color: black;
    font-size: 14px;
    font-family: 'roboto', sans-serif;
}


.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 15px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
}

.top-container {
    border-bottom: 1px dashed black;

}

.text-container-about {
    height: 40%;
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;

    
}
.myFlexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services {
    margin-top: 60px;
    border-bottom: 1px dashed black;
    width: 48%;
}

.services img {
    width: 100%;
}

.LMButton {
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    padding: 5px 10px;
    font-size: 13px;
    margin: 10px 0px 20px 0px;
}

.bottom-content-ab {
    margin: 30px 10px 30px 10px;
}

.Bot-Cont {
    font-family: 'Roboto', sans-serif;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1 {background-color: teal;}
#box2 {background-color: gold;}
#box3 {background-color: cadetblue;}
#box4 { background-color: coral;}
#box5 { background-color: crimson;}
#box6 { background-color: forestgreen;}
#box7 {background-color: darkorchid;}
#box8 {background-color: hotpink;}
#box9 {background-color: indigo;}
#box10 {background-color: dodgerblue;}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}