/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/* Header */
header nav{
    width: 79%;
    justify-content: space-around;
    display: inline-flex;
}

header img:first-child{
    width: 20%;
    margin: 20px 0 0 0;
}

header img:nth-child(3){
    margin: 40px 0 20px 0;
}

header nav a{
    text-decoration: none;
    color: black;
}

/* Section 1 */
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

/* Section 2 */
.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.boxes div.box:nth-child(1){ background: teal; }
div.boxes div.box:nth-child(2){ background: gold; }
div.boxes div.box:nth-child(3){ background: cadetblue; }
div.boxes div.box:nth-child(4){ background: coral; }
div.boxes div.box:nth-child(5){ background: crimson; }
div.boxes div.box:nth-child(6){ background: forestgreen; }
div.boxes div.box:nth-child(7){ background: darkorchid; }
div.boxes div.box:nth-child(8){ background: hotpink; }
div.boxes div.box:nth-child(9){ background: indigo; }
div.boxes div.box:nth-child(10){ background: dodgerblue; }

/* Section 3 */
.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

/* Footer */
footer {
    width: 100%;
    background: black;
}

footer nav{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* About */

/* Section 1 */
.about-top-content{
    padding: 0 20px 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

/* Section 2 */
.middle-top, .middle-bottom{
    display: flex;
}

.middle-bottom{
    margin-top: 60px;
}

.middle-top div, .middle-bottom div{
    width: 46%;
    margin: auto;
    border-bottom: 1px dashed black;
}

.middle-top div a, .middle-bottom div a{
    display: inline-block;
    margin: 20px 0;
    padding: 10px 25px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
}

/* Section 3 */
.bottom-section{
    width: 95%;
    margin: 60px auto 40px;
}