/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    width: 100%;
	line-height: 1;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
img{
    width: 100%;
}
header nav *{
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
nav ul *{
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 32px;
    padding-right: 32px;
}
a{
    font-size: .7rem;
}
h1, h2, h3, h4, h5 {
    font-size: 1.5rem;
    line-height: 5%;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
}
h2{
    font-size: 20px;
}
p {
    line-height: 1.4;
}
.ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}

.container {
    width: 900px;
    margin: 3% auto;
}

.top-content, .top-content2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}
.top-content2 .text-container2 {
    width: 100%;
    padding: 0 1%; 
    margin-left: 2%;
}
.text-container2{
    padding: 0%;
}
.middle-content, .middle-container1, .middle-container2 {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}
.middle-content, .middle-content1, .middle-content2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content, .middle-content1 .middle-content2 .boxes .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes *{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content1, .middle-content2{
    display:flex;
    margin: 0px 2% 20px;
    justify-content: space-evenly; 
    text-align: left;
}
.cards{

}
.box1{
    background-color: teal;
}
.box2{
    background-color: gold;
}
.box3{
    background-color: cadetblue;
}
.box4{
    background-color: coral;
}
.box5{
    background-color: crimson;
}
.box6{
    background-color: forestgreen;
}
.box7{
    background-color: darkorchid;
}
.box8{
    background-color: hotpink;
}
.box9{
    background-color: indigo;
}
.box10{
    background-color: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
    text-align: left;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}