/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height:1.5;
    font-size:1.6rem;
}

h1, h2, h3, h4, h5 {
    font-size: 2.5rem;
    margin-bottom: 2%;
    font-family: 'Rubik', sans-serif;
}
section, footer{
    padding:4% 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}


section{
    padding: 4%;
    margin: 0 auto;
}

/* header section */

header{
    display: flex;
    align-items: center;
    margin: 0 5%;
}

header img{
    margin: 0% 5%;
    width: 7% auto;
    height: 3.5vh;
    display: flex;
    justify-content: space-around;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
    width: 100%;
}

nav button{
    border: none;
    /* padding: 4% 0; */
    margin: 25% 0;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0);
}

.jumbo{
    background-image: url("/img/jumbo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1.5% 10%;
    height: 10vh;
    width: 0 auto;
    display: flex;
    justify-content: center;
}

/*Top Section Styles*/

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.5%;
    border-bottom: 2px solid #ff4b00;
    text-align: left;
}

/* ^^^ orange bar with spacing */

.top-content h2{
    text-align: center;
}

.top-content .text-container {
    width: 45%;
    padding: 0 1%;
    padding-bottom: 2%;  
}

/*Middle Section Styles*/
/* holds h2 and boxes */
.middle-content {
    height: 1% auto;
    align-items: center;
}


.middle-content h2 {
    margin-bottom: 2%;
}

/* vvv affects just what's in the boxes div not the boxes
characteristics themselves */
.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
}



.box {
    background: teal;
    margin: 3% 1.2%;

    width: 130px;
    height: 125px;

    /* center content */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box2 {
    background: gold;
}

.box3 {
    background: cadetblue;
}

.box4 {
    background: coral;
}   

.box5 {
    background: crimson;
}

.box6 {
    background: forestgreen;
}

.box7 {
    background: darkorchid;
}

.box8 {
    background: hotpink;
}

.box9 {
    background: indigo;
}

.box10 {
    background: dodgerblue;
}

/* orange divider bar vv */
.divider{
    margin-bottom: 1.5%;
    border-bottom: 2px solid #ff4b00;
}

/*Bottom Section Styles*/
.bottom-content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 4%;
    
}

.bottom-content .text-container {
    width:30%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;

}

.bottom-content .text-container p {
    margin-top: 10%;
    padding: 4% auto;
    line-height: 1.8;
    text-align: left;
}


/*Footer Styles*/
footer {
    clear: both;
    /* margin-top: -100px; */
    width: 100%;
    background-color: #ff4b00;
    position: relative;
    bottom: 0;
}

footer a{
    color: rgb(214, 206, 206);
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
    text-decoration: none;
    font-size: 1.9rem;
}

/*---------About Page Styles-------*/

/* jumbo-about header img */

.jumbo-about{
    background-image: url("/img/jumbo-about.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1.5% 10%;
    height: 15vh;
    width: 0 auto;
    display: flex;
    justify-content: center;
}

.about{
    width: 90%;
    padding: 4% auto;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about h1{
    align-items: left;
    text-align: left;
}

.about p{
    font-size: 2rem;
    margin: 2.5% 0;
    align-items: center;
    text-align: justify
}

/* orange divider bar */
.aboutdiv{
    width: 80%;
    padding: 0 1%;
    border-bottom: 2px solid #ff4b00;
}


.summary{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1%;
}




.summary div{
    width: 45%;
    padding: 2.8%;
    margin: 0% auto;
    /* align-items: center; */
}

.summary img{
    padding-bottom: 3%;
}


.summary p{
    font-size: 1.8rem;
    padding-top: 1%;
}


.summary div a{
    margin-top: 3%;
    padding: 0;
    text-decoration: none;
    display: flex;
    flex-direction:row ;
    justify-content:start;
}

.summary a button{
    
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0);
    color:rgba(0, 0, 0, 0);
}

.summary a button:hover{
    color: rgba(68, 68, 68, 0.534);
}


/* orange mini div :( */
.summary div .bar{
    width: 100%;
    padding: 0 1.5%;
    align-items: center;
    margin: 0 1%;
    border-bottom: 2px solid #ff4b00;
}




/* Call to Action bottom section */

.cta{
    margin: 1% auto;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    /* justify-content: center; */
    align-items: left;
    text-align: left;
}

.cta h1{
    padding: 1% auto;
    margin: 1% 3%;
}

.cta h1, a{
    display: flex;
    text-decoration: none;
}

.cta p{
    padding-bottom: 1%;
    margin: 1% 3%;
}


.cta div a{
    margin: 0 3%;
    padding: 0 1%;
    text-decoration: none;
    display: flex;
    flex-direction:row ;
    justify-content: flex-end;
}


.cta a button{
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0);
    color:rgba(0, 0, 0, 0);
}

.cta a button:hover{
    color: rgba(68, 68, 68, 0.534);
}

/*-------------Responsive Styles---------*/

/* .summary, img, h2, p, a, div {
    display: flex;
    flex-direction: column;
} */


/* HOME PAGE RESPONSIVE */
@media(max-width:500px){

   body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   }


/* HEADER vvvv */
    header{
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header img{
        margin-top: 5%;
        width: 40% auto;
    }

    header nav a{
        display: flex;
        flex-direction:column;
        justify-content: center;
        flex-wrap: wrap;
    }

/* IMAGE BORDER vvvv */

    .jumbo{
    width: 90%;
    margin: 0 auto;
    height: 10vh;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    .top-content .text-container {
        width: 100%;
    }

    .top-content h2, p{
        padding: 2%;
    }



/* The Boxes Content vvvv */


    .middle-content{
        width: 100%;
        padding: 1% auto;
        margin: 0;
    }

    .middle-content h2{
        align-items: center;
        text-align: center;
        margin-top: 1%;
        
    }

    .middle-content .boxes{
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
    }

    .box{
        width: 160px;
        height: 145px;
        margin: 4% auto;
    }

    /* ORANGE DIV BAR */

    /* BOTTOM SECTION */
.bottom-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.bottom-content div{
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.bottom-content .text-container{
    width: 100%;
}

.bottom-content .text-container h2{
    text-align: center;
}

/* footer section */

footer nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* -------- ABOUT PAGE MOBILE DESIGN -------*/

.jumbo-about{
    width: 90%;
    margin: 0 auto;
    height: 10vh;
}

}