/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}




/* Student Home Page Work */

.container {
    width: 800px;
    margin: 0 auto;
}

header nav {
    /* border: 1px solid yellow; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

/* header nav .logo {
    border: 1px solid red;
} */

header nav a {
    /* border: 1px solid blue; */
    width: 70%;
    color: black;
    justify-content: center;
    padding: 15px 36px;
    text-decoration: none;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 2% 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background-color: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box .box1 {
    background-color: teal;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}



/* Student About Page Work */

.containerAboutPage {
    width: 800px;
    margin: 0 auto;
}

.about {
    width: 100%;
    padding-bottom: 2%;
    justify-content: left;
    border-bottom: dashed black;
}

.about h2 {
    padding-left: 20px;
    padding-top: 15px;
}

.gallery {
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* border: 2px solid blue; */
}

.gallery .article {
    display: flex;
    display: block;
    width: 48%;
    padding: 2%;
    border-bottom: dashed black;
}

.gallery .article img {
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
}

.gallery .article .text {
    justify-content: left;
    align-content: center;
    line-height: 1.2;
}

/* .gallery .article text {
    justify-content: left;
    padding-bottom: 20px;
} */

/* .gallery .article a {
    padding-top: 10px;
} */

/* .gallery .info {
    display: flex;
    width: 40%;
    border: 1px red;
    justify-content: left;
} */

/* .gallery .article div a {
    border: 1px yellow;
} */

.button {
    border: 2px solid black;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    background: white;
    margin-top: 10px;
}

.workTogether {
    justify-content: left;
    align-content: center;
    margin-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}