/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
    display:flex;
    padding-bottom: 30px;
    
}
header{
    width: 100%;
}

header nav {
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}
header nav a{
    color:black
}
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    padding:12px;
}
.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.middle-content .boxes .box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9,.box10{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.boxes .box1{
    background-color:teal;
}
div.boxes .box2{
    background-color: gold;
}
div.boxes .box3{
    background-color: cadetblue;
}
div.boxes .box4{
    background-color: coral;
}
div.boxes .box5{
    background-color: crimson;
}
div.boxes .box6{
    background-color: forestgreen;
}
div.boxes .box7{
    background-color: darkorchid;
}
div.boxes .box8{
    background-color: hotpink;
}
div.boxes .box9{
    background-color: indigo;
}
div.boxes .box10{
    background-color: dodgerblue;
}
.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
    padding-left:90px;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2% ;
    font-size: 14;
}

footer nav a {
    color: white;
    text-decoration: none;
    padding-left:90px;
}
#section{
    display: flex;
    flex-flow: row wrap;
    padding-left:60px;
    justify-content: space-evenly;
}
#section2{
    display: flex;
    flex-flow: row wrap;
    padding-left:2px;
    justify-content: space-evenly;
}
#section3{
    padding-top: 40px;
    padding-right: 60px;
}
h2{
    padding-top:10px;
}

 


 