/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

 span, applet, object, iframe,
h1, h3, h4, h5, h6,  blockquote, pre,
 abbr, acronym, address, big, cite, code,
del, dfn, em,  ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, hgroup, 
menu, output, ruby, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
hgroup, menu {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/*8******* 
        Globals 

                ***/



html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size:62.5%;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    font-size:2rem;
    line-height: 1.4;
}

footer {
    height:100%;
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}


footer nav a {
    color: white;
    text-decoration: none;
}
  



/******** ********************
                           header 
                        ****************/



header nav a {

   width:100%;
   height:100%;
    font-size:2rem;
     color: black;
     text-decoration: none;
 }


 a.btn{
    box-shadow: 2px 1px 2px white;
}
header {
    display: flex;

    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;
}

header nav {
   
   

    width: 100%;
    height:100%;
   
    padding: 20px 2%;
    font-size: 14px;
}
header > nav#myNav{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}
header > nav#myNav > img{
    margin-right:2rem;
    padding:1rem;
}


div#jumbo {
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}
div#jumbo > img{
    width:100%;
}



/*** 

        Classes *
            ((((****/
.container {
    display:flex;
    flex-direction:column;


    width: 98%;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#b1{
    background-color:teal;
}
#b2{
    background-color:gold;
}
#b3{
    background-color:cadetblue;
}
#b4{
    background-color:coral;
}

#b5{
    background-color:crimson;
}
#b6{
    background-color:forestgreen;
}

#b7{
    background-color:darkorchid;
}
#b8{
    background-color:hotpink;
}

#b9{
    background-color:indigo;
}
#b10{
    background-color:dodgerblue;
}


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}



