/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}*/

html {
    font-family: sans-serif;
    margin: 7%;
  }
  header nav a {
    
    text-decoration: none;
    padding: 1%;
    font-size: 1rem;
    color: white;}
  
   
    
    /*display: flex;
    flex-direction: row;*/
  
  .top-content{
      display:flex;
      
  }
  .text-container1 {
      width: 50%;
  }
  .text-container2 {
    width: 50%;
}
  h2 {
    font-size: 1rem;
  }
  .boxes
  {
    display: flex;
    flex-wrap: wrap;
  }
  .box1 {
    background: teal;
    color: white;
    padding: 2%;
    margin: 4% 4% 4% 4%;
    
  }
  
  .box2 {
    background: gold;
    color: white;
    padding: 2%;
    margin: 4% 4% 4% 4%;
    
  }
  
  .box3 {
    background: cadetblue;
    color: white;
    padding: 2%;
    margin: 4% 4% 4% 4%;
    
  }
  .box4 {
    background: coral;
    color: white;
    padding: 2%;
    margin: 4% 4% 4% 4%;
    
  }
  .box5 {
    background: green;
    color: white;
    padding: 2%;
    margin: 4% 4% 4% 4%;
    
  }
  .boxes2
  {
    display: flex;
  }
  
  .box6 {
    background: forestgreen;
    color: white;
    padding: 2%;
    margin: 4% 4% 4% 4%;
    
  }
  .box7 {
    background: darkorchid;
    color: white;
    padding: 2%;
    margin: 4% 4% 4% 4%;
    
  }
  .box8 {
    background: hotpink;
    color: white;
    padding: 2%;
    margin: 4% 4% 4% 4%;
    
  }
  .box9 {
    background: indigo;
    color: white;
    padding: 2%;
    margin: 4% 4% 4% 4%;
    
  }
  .box10 {
    background: dodgerblue;
    color: white;
    padding: 2%;
    margin: 4% 4% 4% 4%;
    
  }
  
  footer nav a{
    background: black;
   color: white;
      
    text-decoration: none;
    padding: 1%;
    font-size: 1rem;
  }
  nav  {  background-color: black; color: white;
  }  
  /*.head {
    display: flex;
  }*/
  