/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
 
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 



body {
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,   sans-serif;
    

}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.mainContainer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: center;
    color: black;
    padding-bottom: 5%;    
}

header img{ 
    padding-left: 2em;

}

header a{
    color: black;
    text-decoration: none;
    padding-right: 2.5em;
    padding-left: 2.5em;
    width: auto;

}


.directory{
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    color: black;    
}



.container-about-page{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 30px;
}

h2.button{
    border: 3px solid black;
    border-radius: 3mm;
    width: 15%;
    margin: auto;
    line-break: auto;
}

.box1{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}


.box2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}


h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
}


p {
    line-height: 1.4;
}


.container {
    width: 800px;
    margin: 0 auto;
}


/*---------------------(TOP TXT)-------------------------*/



.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    text-align: left;
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}




/*---------------------MIDDLE CONTENT (BOXES)-------------------------*/

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box{
    display: flex;
    background-color: teal;

}
.middle-content .boxes .box:nth-child(1){
    background-color: teal;
}
.middle-content .boxes .box:nth-child(2){
    background-color: gold;
}
.middle-content .boxes .box:nth-child(3){
    background-color: cadetblue;
}
.middle-content .boxes .box:nth-child(4){
    background-color: coral;
}
.middle-content .boxes .box:nth-child(5){
    background-color: crimson;
}
.middle-content .boxes .box:nth-child(6){
    background-color: forestgreen;
}
.middle-content .boxes .box:nth-child(7){
    background-color: darkorchid;
}
.middle-content .boxes .box:nth-child(8){
    background-color: hotpink;
}
.middle-content .boxes .box:nth-child(9){
    background-color: indigo;
}
.middle-content .boxes .box:nth-child(10){
    background-color: dodgerblue;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*-------------------- (BOTTOM)-------------------------*/


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}