/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    border: 1px solid grey;
}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4rem;
}

p, a {
    font-size: 3rem;
}

/* header section */
header {
    width: 100%;
    height: 70vh;
    background-image: url('../img/menu-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header h1 {
    display: flex;
    color: rgb(225, 239, 230);
    background-color: rgb(0, 4, 17, .8);
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    color: rgb(225, 239, 230);
}

header nav {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    font-size: 3rem;
    background-color: rgb(0, 4, 17, .8);
}

nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    color: rgb(225, 239, 230);
}

.socials  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

i {
    padding: 2.5%;
    height: auto;
    width: auto;
}

/* spacer */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
    color: rgb(225, 239, 230);
    padding: 2.5%;
    padding-bottom: 2.5;
}

/* menu */

.menu {
    width: 100%;
    height: 240vh;
    background-image: url('../img/staff-bartender.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    color: rgb(225, 239, 230);
}

.menu_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-self:flex-start;
    height: 100%;
}

.menu_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
}

.menu-item h4 {
    padding: 5%;
    display: inline-block;
    /* float: left; */
    flex-direction: row;
}

i {
    font-style: italic;
}

/* footer section */
footer {
    width: 100%;
    height: 15vh;
    padding-top: 2.5vh;
    font-size: 3rem;
    background-color: rgb(0, 4, 17);
    color: rgb(225, 239, 230);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer a {
    text-decoration: none;
    color: rgb(225, 239, 230);
}

footer div {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

footer nav {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

footer .copyright {
    font-size: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding-left: 60%;
}


/* mobile media query */
@media (max-width: 428px) {
    /* header section */
    .header-title {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        font-size: 4rem;
    }

    /* menu */
    .menu {
        background-image: none;
    }

    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
    }
}
