/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4rem;
}

p, a {
    font-size: 3rem;
}

* {
    color: white
}

span.i {
    font-style: italic;
}
 
/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/home-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header div {
    text-align: center;
    background: rgba(2, 7, 15, 0.7);
    padding-bottom: 5rem;
}

header h1, header nav {
    padding: 2rem;
}

header nav .links{
    background: none;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    /* align-items: center; */
}
/* spacer */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

/* menu */

.menu .food, #container {
    background: rgba(2, 7, 15, 0.7);
}
.menu .menu-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    width: 100%;
    height: auto;
    background-image: url('../img/staff-bartender.jpg');
    background-color: rgb(0, 4, 17);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.menu .one, .menu .two, .menu .three{
    
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content:space-around;
    margin: 5%;
    align-content: center;
    text-align: left;
    width: 100%;
    height: 100%;
}
#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
}

/* .menu section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 3%;
    
} */

.menu .food {
    padding-top: 1%;
    text-align: center;
}

.menu h4 {
    display: flex;
    flex-direction: row;
}

.menu .three {
    width: 65%;
    margin: 0 auto;
}

.menu section div p{
    margin: 0.5%;
}

/* footer section */
footer {
    display: flex;
    flex-direction: row;
    height: 20vh;
    /* padding-top: 2.5vh; */
    font-size: 3rem;
}

footer .bottom {
    padding: 2%;
    margin-bottom: 1%;
}

footer .bottom button, footer .bottom input {
    color: black;
    height: 3rem;
}

footer .bottom input {
    width: 50%;
}

footer, footer div{
    justify-content: space-between;
    background-color: rgb(0, 4, 17);
}

footer .navTable {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

footer .navTable p {
    text-align: right;
    font-size: 2rem;
}
footer .navTable nav {
    display: flex;
    justify-content: space-between;
    width: 70rem;
}

/* mobile media query */
@media (max-width: 428px) {
    /* header section */
    .header-title {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 4rem;
    }
    h1 {
        font-size: 6.5rem;
    }

    header nav .links{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
    }

    /* menu */
    .menu {
        background-image: none;
        text-align: center;
    }
    .menu h2 {
        background-color: white;
        color: black;
        padding-bottom: 3%;
    }
    .menu .one, .menu .two, .menu .three{
        background-color: white;
        flex-direction: column;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .menu h4 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .menu .menu-item {
        display: block;
    }

    #container h2, #container p, #container h4 {
        color: black
    }

    #container h2 {
        font-size: 6rem;
        width: 50% auto;
        border: 4px solid black;
    }



    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer .navTable nav{
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        align-items: center;
    }

    footer p {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
}
