.headContainer {
    display: flex;
    justify-content: start;
    width: 800px;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: baseline;
    width: 800px;
    margin: 0 auto;
}

.jimg {
    width: 800px;
    margin: 0 auto;
}

.box1 {
    color: teal;
}

.box2 {
    color: gold;
}

.box3 {
    color: cadetblue;
}

.box4 {
    color: coral;
}

.box5 {
    color: crimson;
}

.box6 {
    color: forestgreen;
}

.box7 {
    color: darkorchid;
}

.box8 {
    color: hotpink;
}

.box9 {
    color: indigo;
}

.box10 {
    color: dodgerblue;
}


