/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}



.container nav a {
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 10px;
    border: solid white;
    color: black;
    margin-left: 30px;
    

}



h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
    
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
    margin-top: 20px;
}

.middle-content {
    
     
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    
    justify-content: space-evenly;
    
    flex-direction: row;
    
   
    
    
}

.middle-content .boxes1 {
    display: flex;
    
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    
    
   
    
    
}


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-evenly;
    flex-direction: row;
}

.bottom-content .text-container {
   text-align: left;
}





footer {
    width: 100%;
    align-items: left;
    padding: 20px 2%;
    font-size: 14px;
    background-color: black;
    
    
    
}

footer .footer-content {
    
    
    padding-top: 5px;
    display: flex;
    margin-left: 10px;
    
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    flex-direction: row;
    
    word-spacing: 25px;
    color: white;

    
    
    
}

.txtcolor {
    color: white;
    text-decoration: none;
    
}
    
.Leverage {
    
  line-height: 1.6;  
    
}

.dottedline  {
    border-bottom: 1px dashed black;
}

.box1 {
    text-align: left;
}

.button {
    border-radius: 12px;
    height: 40px;
    width: 130px;
    background-color: white;
}