*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    background: white;
    color: black;
  }
  
  }
  
  header {
    display: flex;
    flex-direction: column;
    
  }
  .mains {
    display: flex;
    justify-content: space-between;
  
  
    
  }
  .main {
    display: flex;
    justify-content: space-betwen;
  
   
  }
  footer {
    display: flex;
    align-items: column;
    
  }