html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.pageHeader {
    width: 100%;
    display: flex;
}

.logo {
    margin: 3%;
}

.topNavigation {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topNavigation a {
    display: inline-block;
    width: 20%;
    color: black;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
}

@keyframes navAnimation {
    from {background-color: white;}
    to {background-color: black;}
  }

.topNavigation a:hover {
    display: inline-block;
    width: 20%;
    color: white;
    background-color: black;
    border-radius: 7px;
    padding: 2% 5%;
    animation: navAnimation 500ms linear 0s 1 alternate;
    text-align: center;
    letter-spacing: 2px;
    font-variant: small-caps;
}

.headerImage {
    width: 100%;
    margin-bottom: 20px;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.full-width-section {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.full-width-section-two {
    margin-bottom: 20px;
}

.full-width-section p {
    margin-bottom: 20px;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-square {
    width: 45%;
    height: 55vh;
    border-bottom: 1px dashed black;
    margin: 30px 20px;
}

.grid-square img {
    margin-bottom: 10px;
}

.grid-square p {
    margin-bottom: 30px;
}

.grid-square a {
    color: black;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    border-radius: 7px;
    padding: 2% 5%;
    margin: 20px 0;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxOne {
    background-color: teal;
}

.boxTwo {
    background-color: gold;
}

.boxThree {
    background-color: cadetblue;
}

.boxFour {
    background-color: coral;
}

.boxFive {
    background-color: crimson;
}

.boxSix {
    background-color: forestgreen;
}

.boxSeven {
    background-color: darkorchid;
}

.boxEight {
    background-color: hotpink;
}

.boxNine {
    background-color: indigo;
}

.boxTen {
    background-color: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}