html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
    width:100%;
    line-height: 1;
    
}



ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
  
    height: 100%;
    font-family: 'Roboto', sans-serif;
   
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
  
}

p1 {
  display:flex;
  
 

  
}
ul {
  width:60%;
  margin:0px;
  padding:5px;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  margin-left: auto;
  margin-right: auto;
  border: px solid rgb(130, 219, 28);
}
 

#jumbo {
  margin:0px;
  justify-content:center; 
  align-items; center;
  display: flex;
  padding:5px; 
  border: px solid rgb(204, 28, 181);
  
  
}

#bigcontainer {
  border: px solid rgb(184, 212, 24);
  margin:0px;
  padding:0px;

}


}


 item {
 margin:auto;
 padding:0px;
 flex-direction:row;
 justify-content:center;
 text-decoration: none;
 border: 1px solid rgb(29, 27, 27);


   
}

.about-box {
  margin:auto;
  padding:5px;
  display:flex;
  border-bottom:2px dotted black;
  width:60%;

  
}
.about {
   width:60%;
  padding:0px;
  height:100px;
  display: flex;
  flex-direction:row;
  margin:auto;
  justify-content: center;
  align-content:center;
  font-size:16px;
  
   
}

.box1 {
  width:60%;
  margin:auto;
  padding:auto;
  border:12px solid yellow;
  display:flex;
  justify-content:center;
}

.box2 {
  width:60%;
  margin-left:auto;
  margin-right:auto;
  padding:0px;
  border:3px solid green;
  display:flex;
  justify-content:center;
}

.box5 {
  margin:auto;
  width:60%;
  padding:0px;
  border-top:1px dotted black;
}

.flexbox {
  
  margin:auto;
  padding:0px;
  
  border:4px solid red;
  justify-content:center;
  align-items:center;
}

.main-content 4
  margin;0px;
  padding;0px
  display:flex;
  justify-content:center;
}


li {
 margin:0px;
   padding:0px;
 display: flex;
 justify-content:space-between;

   
}
a {
   color:black;
   text-decoration:none;
  

 }
 .bottom-content {
   display: flex;
width:60%;
   margin: 0 2% 20px;
   justify-content: space-around;
  
}

.bottom-content .text-container {
   padding-right: 4%;

   width:60%;
  
}

.bottom-content .text-container:last-child {
   padding-right: 0;
 

}

footer {
   display:flex;
   margin:auto;
   width: 60%;
   background: black;
   justify-content:center;

   
}

footer nav {
   width: 60%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 2%;
   font-size: 14px;

}


footer nav a {
   color: white;
   text-decoration: none;
 