ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border: none;
    display: flex;
  }
  
  li {
    border: none;
    margin: 3em;
    padding: 1em;
  }
  
  h5a {
    margin: 0 10px;
    border: 1px solid;
    padding: 20px;
    display: inline-block;
    border-radius: 0px;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    background-color: teal;
  }
  
  h5b {
    margin: 0 10px;
    border: 1px solid;
    padding: 20px;
    display: inline-block;
    border-radius: 0px;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    background-color: gold;
  }
  
  h5c {
    margin: 0 10px;
    border: 1px solid;
    padding: 20px;
    display: inline-block;
    border-radius: 0px;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    background-color: cadetblue;
  }
  
  h5d {
    margin: 0 10px;
    border: 1px solid;
    padding: 20px;
    display: inline-block;
    border-radius: 0px;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    background-color: coral;
  }
  
  h5e {
    margin: 0 10px;
    border: 1px solid;
    padding: 20px;
    display: inline-block;
    border-radius: 0px;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    background-color: crimson;
  }
  
  h5f {
    margin: 0 10px;
    border: 1px solid;
    padding: 20px;
    display: inline-block;
    border-radius: 0px;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    background-color: forestgreen;
  }
  
  h5g {
    margin: 0 10px;
    border: 1px solid;
    padding: 20px;
    display: inline-block;
    border-radius: 0px;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    background-color: darkorchid;
  }
  
  h5h {
    margin: 0 10px;
    border: 1px solid;
    padding: 20px;
    display: inline-block;
    border-radius: 0px;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    background-color: hotpink;
  }
  h5i {
    margin: 0 10px;
    border: 1px solid;
    padding: 20px;
    display: inline-block;
    border-radius: 0px;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    background-color: indigo;
  }
  h5j {
    margin: 0 10px;
    border: 1px solid;
    padding: 20px;
    display: inline-block;
    border-radius: 0px;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    background-color: dodgerblue;
  }
  
  nav {
    text-decoration: none;
  }
  
  .footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 0px;
  }
  